# Image files
*.tif
*.tiff
*.png

# Eclipse meta data
*.metadata

# Matlab, SIM & fairSIM files
*.asv
*.mat
GlobalBioIm/*
GlobalBioIm
*esults.m
*COS_C3*
fairSIM/*
*fairSIM*
*.fig
*FigPaper/
Examples/Local_Data/
Examples/Other_data_paper/
Other_Softwares/

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
target/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/


